<!-- Author:Riccardo Reali
Date: 15-02-2023 -->


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./styleSheet/app.css">     
  </head>
  
  <body class="fontHome">
    <div class="layer1 spacer"></div>
    <div class="container fontHome">
      <div class="row">
        <div class="offset-md-3 col-md-6">
          <h1><%= title %></h1>
  
          <form class="form" method="POST">
            <input type="hidden" name="id" value="<%= product._id %>" >
                       
            <div class="form-group">
              <label for="nameTextField">Product Name </label>
              <input type="text" class="form-control"
              id="nameTextField"
              placeholder="Enter the Product Name"
              name="productName" 
              value="<%= product.productName %>"
              required>
            </div>
  
            <div class="form-group">
              <label for="authorTextField">Product ID</label>
              <input type="text" class="form-control"
              id="IDTextField"
              placeholder="Enter the Product ID"
              name="productID" 
              value="<%= product.productID %>"
              required>
            </div>
  
            <div class="form-group">
              <label for="publishedTextField">Available Quantity</label>
              <input type="number" class="form-control"
              id="AvailableTextField"
              placeholder="Enter Available Quantity"
              name="quantityAvailable" 
              value="<%= product.quantityAvailable %>"
              required>
            </div>
  
            <div class="form-group">
              <label for="descriptionTextArea">Price</label>
              <input type="text" class="form-control"
              id="priceTextField"
              placeholder="Enter the Price"
              name="price"                     
              value="<%= product.price %>"
              required>
            </div>
  
            <div class="form-group">
              <label for="descriptionTextArea">Quantity Sold</label>
              <input type="number" class="form-control"
              id="soldTextField"
              placeholder="Enter Quantity Sold"
              name="quantitySold"                     
              value="<%= product.quantitySold %>"
              required>
            </div>
  
            <button style="background-color: 00A491; color: aliceblue; border-radius: 20px;" class="btn" type="submit">
              <i class="fas fa-edit"></i> Submit
            </button>
  
            <a href="/products-list" style="background-color: 00A491; color: aliceblue; border-radius: 20px;" class="btn">
              <i class="fas fa-undo"></i> Cancel
            </a>
          </form>
        </div>
      </div>
    </div>
    <div class="layer2 spacer"></div> 
  </body>
  
<style>
.spacer 
{
  aspect-ratio: 680/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
      
.layer1 
{
  background-image: url('./images/aboutLayerTop.svg');
} 
      
.layer2 
{
  background-image: url('./images/aboutLayerbottom.svg');
} 
</style>