<!-- Author:Riccardo Reali
Date: 15-02-2023 -->


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="./styleSheet/app.css">         
</head>

<body id="top1">
    <div class="layer1 spacer"></div>
    <div class="container fontHome">
        <h1 class="center">Personal Database</h1>

        <!-- SEARCH BAR -->
        <form method="GET" action="#">        
            <input style="border-radius: 20px;" type="text" name="query" id="searchInput" placeholder="Search...">
            <button style="border-radius: 20px; background-color: 00A491; color: aliceblue;" type="submit">Search</button>
            <button style="border-radius: 20px; background-color: 00A491; color: aliceblue;" id="print-btn">Print Search Results</button>            
            <button style="border-radius: 20px; background-color: 00A491; color: aliceblue;" id="clear-btn">Clear</button>            
        </form>

        <h1>Search Results:</h1>
        <table id="searchResults"></div> <!-- div to display search results -->

        <hr style="color: black;">

<!-- TABLE SECTION --> 

<table class="round table table-striped table-bordered table-hover"> 

  <thead class="table-dark"> 

      <tr> 

          <th scope="col" class="text-center">#</th> 

          <th scope="col">Name</th> 

          <th scope="col">ID</th> 

          <th scope="col">Available Quantity</th> 

          <th scope="col">Price</th> 

          <th scope="col">Quantity Sold</th> 

          <th></th> 

          <th></th> 

      </tr> 

  </thead> 

  <tbody id="contactList"> 

      <!-- Repeatable Rows --> 

      <% for(let count = 0; count < products.length; count++) { %> 

          <tr> 

              <th style="color:rgb(135, 72, 16)" scope="row" class="text-center listColor"><%= count + 1 %></th> 

              <td style="color:rgb(135, 72, 16)"><%= products[count].productName %></td> 

              <td style="color:rgb(135, 72, 16)"><%= products[count].productID %></td> 

              <td style="color:rgb(135, 72, 16)"><%= products[count].quantityAvailable %></td> 

              <td style="color:rgb(135, 72, 16)"><%= products[count].price %></td> 

              <td style="color:rgb(135, 72, 16)"><%= products[count].quantitySold %></td> 

               

              <td class="text-center col-1"> 

                  <a href="/products-edit/<%= products[count]._id %>" style=" border-radius: 20px; background-color: 00A491; color: aliceblue;" 

                      class="btn btn-sm"> 

                      <i class="fas fa-pencil-alt"></i> Edit</a> 

              </td> 

               

              <td class="text-center col-1"> 

                  <a href="/products-delete/<%= products[count]._id %>" style=" border-radius: 20px; background-color: 00A491; color: aliceblue;" 

                      class="btn btn-sm"> 

                      <i class="fas fa-trash-alt"></i> Delete</a> 

              </td> 

          </tr> 

      <% } %> 

  </tbody> 

</table> <!-- Add this closing tag -->

<br> 

<a href="/products-add" style="background-color: 00A491; color: aliceblue; border-radius: 20px;" class="btn" role="button"> 

  Add an Item</a> 

<div class="row"> 

 <div class="col"> 

     <br> 

 </div> 

</div> 

</div> 

<section class="text-center">
    <a href="#top1" class="w3-button text-center w3-black"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  </section>           
    <div class="layer2 spacer"></div>   

</body> 

<script src="./Scripts/scripts.js"></script> 


<style>
.spacer {
  aspect-ratio: 680/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
        
.layer1 {
  background-image: url('./images/aboutLayerTop.svg');
} 
        
.layer2 {
  background-image: url('./images/aboutLayerbottom.svg');
}   
    
</style>