<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="./styleSheet/app.css">
</head>

<body >
<div class="container fontHome">
    <h1 class="center">Products List</h1>
    <hr style="color: black;">
  <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product ID</th>
                        <th scope="col">Available Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity Sold</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="contactList">
                    <!-- Repeatable Rows -->
                    <% for(let count = 0; count < products.length; count++) { %>
                        <tr>
                            <th style="color:rgb(135, 72, 16)" scope="row" class="text-center listColor"><%= count + 1 %></th>
                            <td style="color:rgb(135, 72, 16)"><%= products[count].productName %></td>
                            <td style="color:rgb(135, 72, 16)"><%= products[count].productID %></td>
                            <td style="color:rgb(135, 72, 16)"><%= products[count].quantityAvailable %></td>
                            <td style="color:rgb(135, 72, 16)"><%= products[count].price %></td>
                            <td style="color:rgb(135, 72, 16)"><%= products[count].quantitySold %></td>
                            
                              <td class="text-center col-1">
                                <a href="/products-edit/<%= products[count]._id %>" style="background-color: 00A491; color: aliceblue;"
                                    class="btn btn-sm">
                                    <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            
                            <td class="text-center col-1">
                                <a href="/products-delete/<%= products[count]._id %>" style="background-color: 00A491; color: aliceblue;"
                                    class="btn btn-sm">
                                    <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <br>
            <a href="/products-add" style="background-color: 00A491; color: aliceblue;" class="btn" role="button">
                Add a Contact</a>
           <div class="row">
               <div class="col">
                   <br>
        </div>
    </div>
</div>
</body>
